<h2><%= financeData.name %></h2>
<br>
Price: <%= financeData.price %>
<br>
Day Low: <%= financeData.dayLow %>
<br>
Day High: <%= financeData.dayHigh %>
<br>
Market Cap: <%= financeData.marketCap %>
<br>
Volume: <%= financeData.volume %>
<br>
Exchange: <%= financeData.exchange %>
<br>
Earnings Per Share: <%= financeData.eps %>
<br>
Price to Earnings: <%= financeData.pe %>
<br>
Shares Outstanding: <%= financeData.sharesOutstanding %>
<br>
<form action="/transaction/buy" method="POST">
    <input type="text" name="ticker" value='<%= financeData.symbol %>'>
    <input type="text" name="price" value='<%= financeData.price %>'>
    <input type="text" name="quantity" value=1 >
    <input type="text" name='user' class='buyUser' value=1>
    <input type="submit" name="buy" value='Buy'>
</form>

<script>
    const inputs = document.getElementsByClassName("buyUser")
    for (let i = 0; i < inputs.length; i++){
        inputs[i].value = currentUser
    }
</script>

