
<h1><%= portfolio.name %></h1>
<h3>Cash: $<%= portfolio.cash %></h3>
<br>

<% transactions.forEach(transaction => { %>
    <strong><%= transaction.ticker %></strong>
    <br>
    Purchase price: $<%= transaction.price %>
    <br>
    Quantity: <%= transaction.quantity %>

    <form action="/transaction/sell" method="POST">
        <input hidden type="text" name="ticker" value='<%= transaction.ticker %>'>
        <input hidden type="text" name="price" value='<%= transaction.price %>'>
        <input hidden type="text" name="quantity" value= <%= transaction.quantity %>>
        <input hidden type="text" name="currentUser" class="sellUser" value=1 >
        <input hidden type="text" name="transactionId" value='<%= transaction.id %>' >
        <input type="submit" name="buy" value='Sell'>
    </form>
    <br>
<% }) %>

<form action="/portfolio/delete?_method=DELETE" method="POST">
    <input hidden type="text" name="currentUser" class="sellUser" value='' >
    <input type="submit" name="delete" value='Delete Profile' onclick="localStorage.clear()">
</form>

<script>
    <%/* add value of currentUser (from layout) for each transaction and delete form*/%>
    const inputs = document.getElementsByClassName("sellUser")
    for (let i = 0; i < inputs.length; i++){
        inputs[i].value = currentUser
    }
</script>